extends layout

block content

  .menu.text-center
    ul.nav.nav-pills
      li
        a(href='/tasks') Lista
      li.active
        a(href="/tasks/completed") Completado

  .list.text-center
    if (tasks.length === 0)
      | No hay nada completado.
    each task, index in tasks
      .item
        div.num
          span=index+1
            |.&nbsp;
        div.name.completed-task
          span.name=task.name + ' (' + moment(task.completeTime).format("LT") + ')'
